* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    margin: auto;
    max-width: 1500px;
    height: 80px;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 1500px;
    margin: auto;
    justify-content: space-between;
   
}

.nav-right{
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.nav-right-btn{
    display: flex;
    column-gap: 18px;
}

.nav-right-btn-1{
    border: 1px solid #FB8F1D;
    width: 132px;
    height: 44px;
    border-radius: 8px;
    background-color: white;
    color: #FB8F1D;
}

.nav-right-btn-2{
    border: #FB8F1D;
    width: 132PX;
    height: 44PX;
    border-radius: 8px;
    background-color: #FB8F1D;
    color: white;
}

.nav-right-link-home{
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
    color: #202336;
}

.nav-right-link-other{
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    color: #B8BECD;
}

.hero{
    display: flex;
    flex-direction: row;
    width: 1500PX;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    row-gap: 30PX;
}

.hero-left-1-p{
    font-size: 64px;
    font-weight: 700;
    font-family: Playfair Display;
    width: 356px;
    line-height: 80px;

}

.hero-left-2{
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}

.hero-left-2-p{
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    font-family: inter;
}

hr{
    width: 32px;
    height: 2px;
    color: #202336;
}

.hero-left-3{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.hero-left-3-main-div{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.hero-left-3-btn{
    border: 0.8px solid #AFB0B9;
    width: 220px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    font-family: inter;
    border-radius: 6px;

}

.hero-left-4-btn{
    background-color: #FB8F1D;
    width: 180px;
    height: 52px;
    border: #FB8F1D;
    color: white;
    border-radius: 8px;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 700;
}

.section-1{
    display: flex;
    width: 1500PX;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}

.section-1-right{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section-1-right-h3{
    width: 481px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: Playfair Display;
}

.section-1-right-p{
    width: 450px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    font-family: Mulish;
    color: #7D7987;
}

.section-1-right-p-btn{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.section-1-right-btn{
    background-color: #FB8F1D;
    width: 164px;
    height: 48px;
    border: #FB8F1D;
    color: white;
    border-radius: 8px;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
}

.featured{
    display: flex;
    max-width: 1500px;
    flex-direction: column;
    row-gap: 20px;
    margin: auto;
    margin-top: 290px;
}

.featured-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured-up-h3{
    width: 481px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: Playfair Display;
}

.featured-up-right{
    display: flex;
    height: 60px;
    flex-direction: row;
    column-gap: 11px;
    align-items: center;
}

.featured-up-right-p{
    width: 64px;
    font-size: 16px;
    font-weight: 600;
    font-family: inter;
    color: #FB8F1D;
}

.section-2{
    display: flex;
    width: 1500PX;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}

.section-2-left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section-2-left-h3{
    width: 481px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: Playfair Display;
}


.section-2-left-p{
    width: 450px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
    font-family: Mulish;
    color: #7D7987;
}

.section-2-left-p-btn{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.section-2-left-btn{
    background-color: #FB8F1D;
    width: 164px;
    height: 48px;
    border: #FB8F1D;
    color: white;
    border-radius: 8px;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
}

.Testimonials{
    display: flex;
    width: 1500px;
    flex-direction: row;
    margin: auto;
    margin-top: 248px;
    justify-content: space-between;
    align-items: center;
}

.Testimonials-left{
    display: flex;
    flex-direction: column;
    row-gap: 20px
}

.Testimonials-left-h3{
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.Testimonials-left-h3-star-p1{
    display: flex;
    flex-direction: column;
    row-gap: 145px;
}

.Testimonials-left-star-p1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.checked {
    color: orange;
    width: 25px;
}

.Testimonials-left-p1{
    width: 450px;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.Testimonials-left-h5-p2{
    display: flex;
    flex-direction: column;
}

.Testimonials-left-h5{
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
}

.Testimonials-left-p2{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
}

.trending{
    display: flex;
    max-width: 1500px;
    flex-direction: column;
    row-gap: 20px;
    margin: auto;
    margin-top: 290px;
}

.trending-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trending-up-h3{
    width: 481px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: Playfair Display;
}

.trending-up-right{
    display: flex;
    height: 60px;
    flex-direction: row;
    column-gap: 11px;
    align-items: center;
}

.trending-up-right-p{
    width: 64px;
    font-size: 16px;
    font-weight: 600;
    font-family: inter;
    color: #FB8F1D;
}

.trending-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trending-down-part{
    width: 271px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 15px;
    
}

.trending-down-p1{
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.trending-down-p2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:#7D7987;
    ;

}

.trending-down-p3{
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FB8F1D;
}
